.cms-logo a {
    background: url("../images/brand-logo-top-left.png") no-repeat left center;
    background-size: contain;
}
.ss-loading-screen .loading-logo {
    background: transparent url("../images/brand-logo.png") no-repeat scroll 50% 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}