html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #000000;
}
.wrapper{
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
}
.header-site{
    background-color: #000000;
    color: #ffffff;
    height: 116px;
}
.header-site{
    position: relative;
}
.header-site .logo{
    position: absolute;
    top: 14px;
    left: 15px;
    z-index: 999;
    margin: 0;
}
.header-site .navigation{
    float: left;
    padding: 12px 0 0 210px;
}
.header-site .main-menu{
    padding: 0;
    margin: 0;
}
.header-site .main-menu > li{
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
}
.header-site .main-menu > li > a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.header-site .main-menu > li.btn-listen {
    padding: 0;
}
.header-site .main-menu > li.btn-listen a{
    color: #000000;
    font-size: 23px;
    text-transform: capitalize;
    text-shadow: 0 2px 0 #ffffff;
}
.main-content{
    background-color: #f3f1f2;
    padding-top: 24px;
}
.page .main-content{
    padding-left: 15px;
    padding-right: 15px;
}
.main-content p{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 1.3;
}
.main-content .title{
    font-weight: 800;
    margin-bottom: 12px;
    line-height: 1;
}
.main-content .info{
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 20px;
}
.main-content .info a{
    color: inherit;
}
#slider img{
	max-width: 100%;
}
.slick-slider img{
    width: 100%;
}
.slick-prev, .slick-next{
    background: none no-repeat 0 0;
    height: 95px;
    width: 53px;
    z-index: 996;
    opacity: 0.8;
}
.slick-slider .slick-prev{
    left: 0;
    -webkit-background-image: url("../images/arr-prev.png");
    -moz-background-image: url("../images/arr-prev.png");
    -o-background-image: url("../images/arr-prev.png");
    background-image: url("../images/arr-prev.png");
}
.slick-slider .slick-next{
    right: 0;
    -webkit-background-image: url("../images/arr-next.png");
    -moz-background-image: url("../images/arr-next.png");
    -o-background-image: url("../images/arr-next.png");
    background-image: url("../images/arr-next.png");
}
.slick-next:before, .slick-prev:before{
    content: "";
}
.slick-next:hover, .slick-prev:hover{
    opacity: 1;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.box-event{
    text-align: center;
    padding-top: 15px;
}
.box-event .box{
    margin-bottom: 15px;
}
.news .box, .medias .box{
    text-align: center;
}
.listing .box{
    text-align: left;
}
.listing .box .story-title{
    height: auto;
}
p.date{
	text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.box{
    position: relative;
    margin-bottom: 30px;
}
.box img{
    max-width: 100%;
}
.box .image{
    position: relative;
}
.box span{
    display: block;
    background-color: #1188c1;
    position: absolute;
    bottom: 15px;
    left: 0;
    color: #ffffff;
    padding: 8px 18px;
    line-height: 1;
    font-weight: 600;
    font-size: 18px;
}
.box .story-title{
    margin-top: 5px;
    margin-bottom: 10px;
    color: #333333;
    font-weight: bold;
    height: 46px;
}
.box .story-title a{
    text-decoration: none;
}
.socials .box{
    overflow: auto;
}
.socials .box.schedule{
	margin-bottom: 60px;
}
.footer-site{
    background-color: #000000;
    color: #ffffff;
    height: 116px;
    padding-top: 40px;
    text-align: center;
}
.footer-site p{
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
}
.footer-site p a{
    color: inherit;
}
.mb-menu{
    display: none;
    margin-right: 15px;
    padding-top: 42px;
}
.mb-menu .line{
    display: block;
    height: 4px;
    width: 39px;
    margin-bottom: 5px;
    background-color: #ffffff;
}
.listEvent, .listConcert{
    padding: 0;
}
.listEvent li, .listConcert li{
    list-style-type: none;
    margin-bottom: 18px;
}
.listEvent .calendar, .listConcert .calendar{
    width: 50px;
    margin-right: 12px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}
.listEvent .image, .listConcert .image{
    padding-left: 60px;
}
.eventItem div, .concertItem div{
    display: inline-block;
    vertical-align: top;
}
.eventItem .custom-day, .concertItem .custom-day{
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    padding: 5px 0;
}
.eventItem .custom-day span, .concertItem .custom-day span{
    display: block;
    text-align: center;
}
.eventItem .custom-day .month, .concertItem .custom-day .month{
    font-size: 14px;
    font-weight: bold;
}
.eventItem .info, .concertItem .info{
    width: 40%;
    float: left;
    position: relative;
}
.eventItem .image img, .concertItem .image img{
    max-width: 100%;
}
.ww .eventItem .info, .ww .concertItem .info{
    width: 30%;
}
.ww .eventItem .description, .ww .concertItem .description{
    width: 70%;
}
.eventItem .description, .concertItem .description{
    width: 60%;
    float: left;
    padding-left: 10px;
}
.eventItem .description a, .concertItem .description a{
    color: #000000;
    text-decoration: none;
}
.eventItem h3, .concertItem h3{
    margin-bottom: 6px;
    padding-right: 100px;
}
.eventItem h3 a, .concertItem h3 a {
    color: #000000;
    text-decoration: none;
}
.eventItem .btn-more, .concertItem .btn-more{
    float: right;
    margin-top: -23px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}
.eventItem .info-time, .concertItem .info-time{
    font-size: 14px;
    margin-bottom: 5px;
}
/*responsive*/
@media (min-width: 1200px) {
    /*.header-site .navigation{*/
        /*padding-right: 210px;*/
    /*}*/
    .header-site .main-menu{
        margin-top: 28px;
    }
    /*.header-site .main-menu > li.btn-listen {*/
        /*position: absolute;*/
        /*right: 0;*/
        /*top: 18px;*/
    /*}*/
}
@media (min-width: 992px) {
    .header-site .main-menu > li{
        padding: 12px 7px;
    }
    .header-site .main-menu > li.active, .header-site .main-menu > li:hover{
        background-color: #ffffff;
    }
    .header-site .main-menu > li.active > a{
        font-weight: bold;
    }
    .header-site .main-menu > li.active > a, .header-site .main-menu > li:hover > a{
        color: #000000;
    }
    .header-site .main-menu > li.btn-listen:hover{
        background-color: transparent;
    }
    .header-site .navigation{
        padding-right: 210px;
    }
    .header-site .main-menu > li.btn-listen {
        position: absolute;
        right: 0;
        top: 18px;
    }
}
@media (max-width: 1199px) {
    .header-site .main-menu > li.btn-listen {
        position: absolute;
        right: 0;
        bottom: -10px;
    }
}
@media (max-width: 1199px) and (min-width: 992px) {
    .header-site .logo img{
        width: 150px;
    }
    .header-site .navigation{
        padding-left: 185px;
    }
    .header-site .main-menu{
        margin-top: 28px;
    }
    .header-site .main-menu > li{
        padding: 12px 4px;
    }
    .header-site .main-menu > li > a{
        font-size: 16px;
    }
}
@media (max-width: 991px) {
    .header-site .navigation{
        float: right;
    }
    .header-site .main-menu{
        display: none;
        position: absolute;
        top: 100%;
        z-index: 998;
        width: 100%;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 1px 3px rgba(0,0,0,0.5);
        text-align: center;
    }
    .navigation .mb-menu{
        display: block;
    }
    .header-site .main-menu > li {
        display: block;
        padding: 5px 15px;
    }
    .header-site .main-menu > li > a{
        color: #000000;
    }
    .header-site .main-menu > li.btn-listen{
        position: static;
    }
    .socials{
        text-align: center;
    }
    .ww .eventItem .info, .ww .concertItem .info{
        width: 40%;
    }
    .ww .eventItem .description, .ww .concertItem .description{
        width: 60%;
    }
}
@media (max-width: 768px) {
    .wrapper{
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0!important;
    }
}
@media (max-width: 767px) {
    .ww .eventItem .info, .ww .concertItem .info,.ws .eventItem .info, .ws .concertItem .info{
        width: 50%;
    }
    .ww .eventItem .description, .ww .concertItem .description, .ws .eventItem .description, .ws .concertItem .description {
        width: 50%;
    }
    .ww .eventItem h3, .ww .concertItem h3, .ws .eventItem h3, .ws .concertItem h3 {
        padding-right: 0;
    }
    .ww .btn-more, .ws .btn-more{
        float: none;
    }
}
@media (max-width: 550px) {
    .news, .medias{
        width: 100%;
    }
    .news img, .medias img{
        width: 100%;
    }
    .slick-prev, .slick-next{
        width: 32px;
        height: 55px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .ww .eventItem .info, .ww .eventItem .description, .ww .concertItem .info, .ww .concertItem .description,
    .ws .eventItem .info, .ws .eventItem .description, .ws .concertItem .info, .ws .concertItem .description{
        width: 100%;
    }
}
@media (max-width: 450px) {
    .header-site{
        height: 87px;
    }
    .header-site .logo img{
        width: 120px;
    }
    .navigation .mb-menu{
        padding-top: 22px;
    }
    .page .main-content{
        padding-left: 0;
        padding-right: 0;
    }
}